{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h4>{{ title }}</h4>
{% if 'error_message' in entities %}
    <p>{{ entities['error_message']}}</p>
{% else %}
    <table class="table">
        <thead>
            <tr>
                {% for key in key_map %}
                    {% if key in entities[0] %}
                        <th scope="col">{{ key_map[key] }}</th>
                    {% endif %}
                {% endfor %}
                {% for key in entities[0] %}
                    {% if key not in key_map %}
                        <th scope="col">{{ key }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr class="clickable" onclick="window.location='{{ request.host_url[:-1] + url_for('juror_details', id=entity['participant_id']) }}'">
                    {% for key in key_map %}
                        {% if key in entity %}
                            <td>{{ entity[key] }}</td>
                        {% endif %}
                    {% endfor %}
                    {% for key in entity %}
                        {% if key not in key_map %}
                            <td>{{ entity[key] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
